
venv/
.env/

# Ignore Python cache and compiled files
_pycache_/
*.pyc
*.pyo
*.pyd

# Ignore environment variables file
.env

# Ignore VS Code settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db